
/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* END */


*{
    margin: 0;
}

.bg{
    align-self: center;
    background-image: url('./components/images/newmd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-flex;
    margin: 6rem 2rem 5rem 7.2rem;
    height: 38rem;
    width: 85%;
    /* background-color: purple; */

}

/* Nav Items */

.nav{
    
    padding: 1rem 0rem;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 99;
}
.changeNavBg{
    background: rgba( 255, 255, 255, 0.5 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    /* border-radius: 10px; */
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.changeNavBg .navitems{
    padding:  2.40rem 0;
}

.logo{
    margin-left: 2rem;
}


.navb{
    position: fixed;
    display: inline-block;
    right: 0;
    margin-top: 1rem;
    margin-right: 2rem;
}

.list{
    list-style-type: none;
    display: flex;
}

.navitems:hover{
    border-bottom: solid 3px black;
    color: gray;
}

.navitems{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    padding:  1rem 0;

}


/* Nav Items End */

/* Upper Section */

.uppertext{
  display: inline-block;
  position: relative;
  top: 7rem;
  margin-left: 3rem;
  line-height: 5rem;
  font-family: 'Playfair Display', serif;


}
.exclusive{
  background-color: black;
  color: #EFCB5C; 
  padding-left: 10px; 
  padding-right: 30px; 
  font-size: 90px;
}

.upFont{
  font-size: 4rem;
}

.upFont2{
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
}

.signb{
  padding: 1rem 1.5rem;
}

/* Upper Section End  */

.newsletter{
  background-color: lightgrey;
  height: 15rem;
  /* margin-bottom: 5rem; */
  display: grid;
  width: 100%;
  grid-template-columns: 1fr, 2fr ;
}

.ntext{
  grid-column: 1/2;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.ntext1{

  font-size: 2rem;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  padding: 0 0 0 7rem;
}
.ntext2{
  font-size: 1.3rem;
  font-family: 'EB Garamond', serif;
  padding: 0 0 0 7.5rem;

}

.nletterbox{
  margin-top: 5rem ;
  right: 7.5rem;
  justify-content: end;
  grid-column: 2/3;
  /* background-color: #EFCB5C; */
} 



#nlettersignup{
  width: 30rem;
  height: 3rem;
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
}

#nbtn{
  height: 3rem;
  width: 10rem;
}




/* Newsletter End */


/* P Card */

.main{

  margin-bottom: 5rem;
}

.main h3{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  font-size: 3rem;
}


.pcard{
  padding: 1rem;
  margin-top: 0rem;
  border: 1px solid black;
  font-family: 'EB Garamond', serif;
  margin: 0 0rem;
}


.pcard p{
  display: flex;
  justify-content: start;
}


.pcard img{
  margin-bottom: 2rem;

}

.shop{
  display: flex;
  justify-content: center;
  height: 50rem;
  padding-top: 10rem;
  width: 100%;
  font-family: 'Playfair Display', serif;

}

.shopsearch{
  height: 3rem;
  width: 50rem;
}

.shopsearchbutton{
  height: 3rem;
  width:10rem;

}

.buycart{
  margin: 10px 0;
}

/* footer */
.end{
  font-weight: 100;
  font-size: 11pt;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  grid-template-rows: 3fr, 1fr;
  padding:2rem 7rem;
  color: lightgray;
  /* height: 23rem; */
  width: auto;
  background-color: black;
}

.social{
  margin-top: 1.5rem;
}



.sociallogo{
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  color: darkgray; 
  background-color: none;
  opacity: 0.8;
  padding: 0;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.sociallogo:hover{
  transform: scale(1.1);
  opacity: 1;
  transition: 0.5s;
}

.service{
  grid-column: 1/2;
  grid-row: 1/2;
}

.service > ul{
  list-style: none;
  padding-left: 0;
}


.contact{
  grid-column: 3/4;
  grid-row: 1/2;
  
}
.shipping{
  grid-column: 2/3;
  grid-row: 1/2;
}

.shipping > ul{
  list-style: none;
  display: inline-block;
  padding: 0 2rem 0rem 0rem;
}

.footerlist{
  margin-bottom: 1rem;
}

.payment > p > img{
  padding-right: 2rem;
  padding-top: 1rem;
}

.copyright{
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-content: center;
  text-align: center;
  margin-top: 3.5rem;
  font-weight: bolder;
  color: lightgray
}
